.tt-menu {
    background-color: #f9f9f9 !important;
    width: 100% !important;
}
.tt-menu .item-container {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.tt-menu .item-container:hover {
    background-color: #f6f6f6 !important;
}
.tt-menu .item-header {
    margin: 0;
    padding: 0;
    float: none;
}
.tt-menu .item-hint {
    font-size: 10px;
    margin: 0;
    padding: 0;
    float: none;
}
.bootstrap-select .filter-option {
    color: #ffffff !important;
}
.jqstooltip {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;padding: 5px;
    border: 1px solid white;z-index: 10000;
}
.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;
}
.dropdown-menu > li > a {
    color: #000000 !important;
}
.dropdown-menu > li > a:hover {
    color: #1ab394 !important;
}
.navbar-nav .open > a {
    border-top: 6px solid #1ab394 !important;
}
#main-menu.navbar-default .navbar-toggle {
    color: #fff !important;
    transition: all 0.3s ease-in-out 0s;
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background: #179d82;
    color: #fff;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff !important;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: auto;
}
@media (max-width: 768px) {
    .navbar-header {
        width: 100%;
    }
}
.landing-page .gray-section {
    background: #f4f4f4;
    margin-top: 0 !important;
}
.wrapper-content {
    padding-bottom: 0 !important;
}
.radio-inline-input {
    position: absolute;
    opacity: 0;
}
.padding-l-r-null {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.alert-primary {
    color: #ffffff;
    background-color: #1ab394;
    border-color: #18967a;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #1ab394;
    outline: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #18967a !important;
    outline: 0;
}
.twitter-typeahead {
    width: 100% !important;
}