.tt-menu {
    background-color: #f9f9f9 !important;
    width: 100% !important;
}
.tt-menu .item-container {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.tt-menu .item-container:hover {
    background-color: #f6f6f6 !important;
}
.tt-menu .item-header {
    margin: 0;
    padding: 0;
    float: none;
}
.tt-menu .item-hint {
    font-size: 10px;
    margin: 0;
    padding: 0;
    float: none;
}
.bootstrap-select .filter-option {
    color: #ffffff !important;
}
.jqstooltip {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;padding: 5px;
    border: 1px solid white;z-index: 10000;
}
.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;}